{% extends "base.html" %}
{% block style %}
{% include "includes/inc_style.html" %}
{% endblock %}
{% block title %}
{% include "includes/inc_title.html" %}
{% endblock %}
{% block menu %}
<div id="menubar">
    <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li><a href="/">Home</a></li>
<!--        <li><a href="/category_list/">Category list</a></li>-->
<!--        <li><a href="/course_list/">Course list</a></li>-->
<!--        <li><a href="/create_category/">Create category</a></li>-->
<!--        <li><a href="/create_course/">Create course</a></li>-->
        <li class="selected"><a href="/study_programs/">Study programs</a></li>
        <li><a href="/contacts/">Contact Us</a></li>
    </ul>
</div>
{% endblock %}
{% block body %}
<div id="site_content">
    <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Последние новости</h3>
        <h4>Добавлены новые курсы</h4>
        <h5>Декабрь 27, 2022</h5>
        <p>2022 Новые материалы. Посмотрите и дайте нам знать ваше мнение.<br/><a href="#">Подробнее</a></p>
        <p></p>
        <h4>Запущен интерактивный веб-сайт</h4>
        <h5>Декабрь 27, 2022</h5>
        <p>2022 Новые курсы. Посмотрите и дайте нам знать ваше мнение.<br/><a href="#">Подробнее</a></p>
        <h3>Полезные ссылки</h3>
        <ul>
            <li><a href="https://github.com/RombosK">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
            <li><a href="#">link 4</a></li>
        </ul>
        <h3>Поиск</h3>
        <form method="post" action="#" id="search_form">
            <p>
                <label>
                    <input class="search" type="text" name="search_field" value="Enter keywords....."/>
                </label>
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"
                       src="../templates/style/search.png"
                       alt="Search" title="Search"/>
            </p>
        </form>
    </div>
    <div id="content">
        <h1>Программы обучения</h1>
        <h4>Курсы в течение учебного 2023 года.</h4>
        <h4>Актуальное расписание курсов: {{date}}</h4>
        <table>
            <tr class="head">
                <th></th>
                <th>Москва</th>
                <th>Санкт-Петербург</th>
                <th>Екатеринбург</th>
                <th>Новосибирск</th>
            </tr>
            <tr>
                <th>Основы Python</th>
                <td>{{date}}<br/>11:00 - 13:00</td>
                <td>{{date}}<br/>11:00 - 13:00</td>
                <td>{{date}}<br/>15:00 - 17:00</td>
                <td>{{date}}<br/>16:00 - 18:00</td>
            </tr>
            <tr class="even">
                <th>Основы ООП</th>
                <td>{{date}}<br/>20:00 - 22:00</td>
                <td>{{date}}<br/>20:00 - 22:00</td>
                <td>{{date}}<br/>14:00 - 16:00</td>
                <td>{{date}}<br/>15:00 - 17:00</td>
            </tr>
            <tr>
                <th>Основы JS</th>
                <td>{{date}}<br/>11:00 - 14:00</td>
                <td>{{date}}<br/>11:00 - 14:00</td>
                <td>{{date}}<br/>10:00 - 12:00</td>
                <td>{{date}}<br/>12:00 - 14:00</td>
            </tr>
            <tr class="even">
                <th>Администрирование Linux</th>
                <td>{{date}}<br/>18:00 - 20:00</td>
                <td>{{date}}<br/>18:00 - 20:00</td>
                <td>{{date}}<br/>20:00 - 22:00</td>
                <td>{{date}}<br/>21:00 - 23:00</td>
            </tr>
        </table>
        <form action="" method="post">
            <fieldset>
                <legend>Зарегистрируйтесь</legend>
                <p><label class="title" for="name">Ваше имя:</label>
                    <input type="text" name="name" id="name"><br/>
                    <label class="title" for="email">Ваш email:</label>
                    <input type="text" name="email" id="email"></p>
                <p><label for="location" class="title">Ближайший центр:</label>
                    <select name="location" id="location">
                        <option value="msk">Москва</option>
                        <option value="spb">Санкт-Петербург</option>
                        <option value="ekb">Екатеринбург</option>
                        <option value="ekb">Новосибирск</option>
                    </select></p>
                <span class="title">Являетесь участником?</span>
                <label><input type="radio" name="member" value="yes"/> Да</label>
                <label><input type="radio" name="member" value="no"/> Нет</label>
            </fieldset>
            <div class="submit"><input type="submit" value="Регистрация"/></div>
        </form>
    </div>
</div>
    {% endblock %}
    {% block footer %}
    {% include "includes/inc_footer.html" %}
    {% endblock %}
